/*  Grid:
.container
.grid__row
.grid__col--2
.grid__col--3
.grid__col--4
.grid__col--5
.grid__col--6
.grid__col--7
.grid__col--8
.grid__col--9
.grid__col--10
.grid__col--11
.grid__col--12
.centered
.theme__colors  */


.container{
  font-family: $font-primary;
  color: $color-font-primary;
  font-size: 1.1em;
  text-align: center;
  margin: auto;
  width: 480px;
  @include mq("med"){
    width: 85%;
  }
  @include mq("lg"){
    width: 1190px;
  }
}

// Calculate Grid Columns

@for $i from 1 through $g-col-count{

  $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
  $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

  // Generate Column Modifier Classes

  .grid__col--#{$i}{
    &.theme__colors{
      @include grid_box(map-get($box_colors, "color-#{$i}"));
      width: 420px;
      margin: ($g-gutter-width / 2);
    }
    @include mq("med"){
      width: percentage($target / $context);
    }
    @include mq("lg"){
      &.theme__colors {
        width: percentage( $target / $context);
      }
    }
  }
};

.grid{
  &__row{
    @include flexy($dir: column, $ali: center);
    margin: 30px;
    @include mq("lg"){
      flex-direction: row;
      align-items: center;
    }
    .card{
      margin: 0 20px;
      h4{
        margin-left: 0px;
      }
    }
  }
}
